{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "04c49af4d7fb1d410209c4326031fa0d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/users/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"count\":2,\"next\":null,\"previous\":null,\"results\":[{\"id\":2,\"name\":\"Creativice Test\",\"email\":\"paul.ilaga@creativice.com\",\"phoneno\":\"\",\"domain\":\"local\",\"total_devices\":0},{\"id\":1,\"name\":\"Default User\",\"email\":null,\"phoneno\":null,\"domain\":\"local\",\"total_devices\":0}]}"
          },
          ],
          "headers": [
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "allow",
              "value": "POST, OPTIONS, GET"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 998,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
