{
  "log": {
    "_recordingName": "fetch-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d1e36a065fc503d34dd2e6113161e52b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/users/?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"count\":2,\"next\":null,\"previous\":null,\"results\":[{\"id\":2,\"name\":\"Creativice Test\",\"email\":\"paul.ilaga@creativice.com\",\"phoneno\":\"\",\"domain\":\"local\",\"total_devices\":0},{\"id\":1,\"name\":\"Default User\",\"email\":null,\"phoneno\":null,\"domain\":\"local\",\"total_devices\":0}]}"
          },
          ],
          "headers": [
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "allow",
              "value": "POST, OPTIONS, GET"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 926,
      },
      {
        "_id": "05b2d867415d279dda554691fd5b3f2b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/usergroups/?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 188,
            "text": "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":1,\"groupname\":\"Sample Group\",\"description\":\"This is a sample group\",\"users_count\":2,\"modified_date\":\"2022-04-01T05:55:41.541106Z\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "allow",
              "value": "POST, OPTIONS, GET"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 786,
      },
      {
        "_id": "2db9ee89787d64b6eef1a0b5bb0b420a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/usergroups/1/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 294,
            "text": "{\"id\":1,\"groupname\":\"Sample Group\",\"description\":\"This is a sample group\",\"users\":[{\"id\":1,\"name\":\"Default User\",\"email\":null,\"domain\":\"local\",\"phoneno\":null},{\"id\":2,\"name\":\"Creativice Test\",\"email\":\"paul.ilaga@creativice.com\",\"domain\":\"local\",\"phoneno\":\"\"}],\"policy\":[],\"location_history\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "allow",
              "value": "PUT, POST, GET, OPTIONS, DELETE"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1017,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
