{
  "log": {
    "_recordingName": "build-device-groups-and-devices-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d1e36a065fc503d34dd2e6113161e52b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/users/?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"count\":2,\"next\":null,\"previous\":null,\"results\":[{\"id\":2,\"name\":\"Creativice Test\",\"email\":\"paul.ilaga@creativice.com\",\"phoneno\":\"\",\"domain\":\"local\",\"total_devices\":0},{\"id\":1,\"name\":\"Default User\",\"email\":null,\"phoneno\":null,\"domain\":\"local\",\"total_devices\":1}]}"
          },
          ],
          "headers": [
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "allow",
              "value": "POST, OPTIONS, GET"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1267,
      },
      {
        "_id": "0439072be8c57395da8abfcfa3185e10",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/devices/?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 424,
            "text": "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":1,\"device_name\":\"OnePlusONEPLUS A5000\",\"model_name\":\"ONEPLUS A5000\",\"os_name\":\"Android\",\"os_version\":\"7.1.1\",\"enrolled_time\":\"2022-04-04T07:09:25.362338Z\",\"last_reported\":\"2022-04-04T12:04:09.609Z\",\"compliant\":true,\"serial_number\":\"eg2a22c1ege2\",\"udid\":\"df2022b1dfd29399\",\"enrollment_status\":\"enrolled\",\"user\":{\"id\":1,\"name\":\"Default User\"},\"imei\":\"290562302172824\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "allow",
              "value": "POST, OPTIONS, GET"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 688,
      },
      {
        "_id": "3050882384ff6626054fa957684da60e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/devicegroups/?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1765,
            "text": "{\"count\":9,\"next\":null,\"previous\":null,\"results\":[{\"id\":1,\"groupname\":\"Demo - Custom Device Group\",\"description\":\"A sample device group.\",\"grouptype\":\"custom\",\"device_count\":0,\"modified_date\":\"2022-03-31T13:41:52.869593Z\"},{\"id\":2,\"groupname\":\"All Android Devices\",\"description\":\"A dynamic group of all Android devices enrolled.\",\"grouptype\":\"dynamic\",\"device_count\":1,\"modified_date\":\"2022-03-31T13:41:52.871196Z\"},{\"id\":3,\"groupname\":\"All Inactive Devices\",\"description\":\"Devices that have not communicated with the portal during the defined inactivity period.\",\"grouptype\":\"dynamic\",\"device_count\":0,\"modified_date\":\"2022-03-31T13:41:52.872386Z\"},[...]
