{
  "log": {
    "_recordingName": "fetch-device-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "3050882384ff6626054fa957684da60e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/devicegroups/?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1765,
            "text": "{\"count\":9,\"next\":null,\"previous\":null,\"results\":[{\"id\":1,\"groupname\":\"Demo - Custom Device Group\",\"description\":\"A sample device group.\",\"grouptype\":\"custom\",\"device_count\":0,\"modified_date\":\"2022-03-31T13:41:52.869593Z\"},{\"id\":2,\"groupname\":\"All Android Devices\",\"description\":\"A dynamic group of all Android devices enrolled.\",\"grouptype\":\"dynamic\",\"device_count\":1,\"modified_date\":\"2022-03-31T13:41:52.871196Z\"},{\"id\":3,\"groupname\":\"All Inactive Devices\",\"description\":\"Devices that have not communicated with the portal during the defined inactivity period.\",\"grouptype\":\"dynamic\",\"device_count\":0,\"modified_date\":\"2022-03-31T13:41:52.872386Z\"},[...]
