{
  "log": {
    "_recordingName": "fetch-user-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "05b2d867415d279dda554691fd5b3f2b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://creativicetest.hexnodemdm.com/api/v1/usergroups/?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 188,
            "text": "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":1,\"groupname\":\"Sample Group\",\"description\":\"This is a sample group\",\"users_count\":2,\"modified_date\":\"2022-04-01T05:55:41.541106Z\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-language",
              "value": "en"
            },
            {
              "name": "allow",
              "value": "POST, OPTIONS, GET"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1233,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
